<mat-card style="width: 500px;">
    <mat-grid-list cols="1">
        <mat-form-field style="margin-right: 10px;">
            <input matInput placeholder="Nome ou Doc#" [(ngModel)]="searchTerm">
            <button mat-icon-button matSuffix (click)="searchFarmer()">
                <mat-icon style="font-size: 20px">arrow_forward</mat-icon>
            </button>
        </mat-form-field>
    
        <mat-form-field style="width: 250px;">
            <mat-label>Destinatario</mat-label>
            <input matInput disabled [(ngModel)]="farmer.name">
        </mat-form-field>
    </mat-grid-list>

    <mat-grid-list cols="1">
        <mat-form-field style="margin-right: 10px;">
            <mat-label>Doc #</mat-label>
            <input matInput disabled [(ngModel)]="farmer.document.documentNumber">
        </mat-form-field>
    
        <mat-form-field style="width: 250px;">
            <mat-label>Endereço</mat-label>
            <input matInput disabled [(ngModel)]="farmer.address.street">
        </mat-form-field>
    </mat-grid-list>
</mat-card>
